{% extends "base.html" %}

{% block content %}

<div class='Content'>

<h1>About</h1>
<div>
The Transparent Accessible Bulletin System (TABS) is a tool for monitoring issues and actions in the City of Toronto.
</div>
<br />
<div>
TABS makes searching through government records easy. Search for keywords, add filters, discover related information, and sign up to receive email alerts. If you're an engaged resident, policy expert, journalist or busy bureaucrat, this is the tool for you. In its current incarnation, TABS will send you an email alert whenever a new agenda item is introduced that is related to your registered search query.
</div>
<br />
<div>
TABS was created in response to a growing demand for Web applications supporting the discovery and tracking of government activity. Its core function is to scan public records and present findings in a way that is easy to follow and understand. Government affairs are often complicated, involving many steps and multiple sources of information. TABS helps simplify government's complexity and helps to keep citizens aware of its activities.
</div>
<br />

<div>
<b>Our goals:</b>
<ul>
<li>Facilitate access to information regarding agendas and meetings at Toronto City Hall </li>
<li>Enhance public awareness of, and participation in Municipal meetings</li>
<li>Increase accountability at Toronto's city hall</li>
<li>Save people and organizations time and effort they could be spending on other things</li>
</ul>
</div>
<br />
 
<div>
This tool was conceptualized by the Toronto Public Space Initiative (TPSI) and developed by a group of volunteers, including TPSI staff, at Random Hacks of Kindness  (RHOK) Hackathon hosted at Mozilla Foundation's Toronto headquarters Dec 12 2012. Contributing members include Jayme Turney (TPSI Team Lead), Bill Cowen (TPSI Project Manager), Christian Muise (Lead Consultant), Leon Lukashevsky (Consultant), Katina Schell (TPSI Design Manager), Morgen Peers (Consultant), Rajiv Abraham (Consultant), Yupeng Yao (Consultant), Iram Imitaz (Consultant), Denise Cheng (Consultant), Peirre-Antoin LaFayette (Consultant), Reiner Kravis (TPSI), Philippa French (TPSI), David Weisz (Consultant), Ryan Stephenson Price (Consultant), and Daniel Quinn (Consultant).
</div>
<br />

<div>
<b>Crowd-Sourcing Link:</b>
<a href="http://igg.me/at/support-tabs/x/2458939">http://igg.me/at/support-tabs/x/2458939</a>
</div>
<br />

	<div class='Contact'>
		<span class='Email'><a href='mailto:tabsontoronto@publicspaces.ca'>
		<img src='/static/img/envelop.png' align='middle'><b>tabsontoronto@publicspaces.ca</b>&nbsp;(general inquiries)</a>
		</span><br />
		<span class='Email'><a href='mailto:christian.muise@gmail.com'>
		<img src='/static/img/envelop.png' align='middle'><b>christian.muise@gmail.com</b>&nbsp;(technical support)</a>
		</span>
	</div>

</div>

{% endblock %}

