{% extends "base.html" %}

{% block content %}

<div class='Content'>

	<h1>Contact</h1>

	Feedback is really important to us. If you cannot find the information you require on this website, or you have any ideas that you would like to share with us, we'd love to hear from you.

	For more information, and instructions on how to use this site <a href='/about/'>click here.</a>

	
	<div class='Contact'>
		<span class='Email'><a href='mailto:tabsontoronto@publicspaces.ca'>
		<img src='/static/img/envelop.png' align='middle'><b>tabsontoronto@publicspaces.ca</b>&nbsp;(general inquiries)</a>
		</span><br />
		<span class='Email'><a href='mailto:christian.muise@gmail.com'>
		<img src='/static/img/envelop.png' align='middle'><b>christian.muise@gmail.com</b>&nbsp;(technical support)</a>
		</span>
	</div>


</div>

{% endblock %}

