{% extends "base.html" %}

{% block content %}

<div class='Content'>


	<h1>Privacy Policy</h1>

	tabsontoronto.ca is committed to protecting the privacy of our users. This policy illustrates how we use the information we collect from you, who will have access to that information, and what safeguards we have put in place to maintain your privacy.

	Any personal information provided to us through our website is collected, used and disclosed in accordance with the federal Personal Information Protection and Electronic Documents Act and other applicable legislation. These provisions recognize the right of individuals to control the use of their personal information. In addition, they obligate organizations collecting personal information to appropriately handle and protect it, to the best of their ability.

	<h2>1. Collection of Information</h2>
	When someone visits tabsontoronto.ca, our web server automatically collects a limited amount of standard information essential to the operation, security and evaluation of the tabsontoronto.ca website. This information helps us to make our site more useful to visitors and includes the:

	* Internet domain and Internet Protocol (IP) address from computers that access our web site,
	* type of browser and operating system used to access our site,
	* date and time our site is accessed,
	* pages visited, and
	* content downloaded from our site.

	While some of this information does not identify who people are, other information (e.g. Internet domain names or the IP addresses of internet service providers) may provide identification. The extent of personal identification depends on the naming standards followed by the internet service provider. You may wish to check with your provider to inquire about their policies and practices in this regard. tabsontoronto.ca does not use this information to identify individuals who visit our website unless required to do so as part of an internal investigation or other law enforcement purpose.

	<h2>2. User Registration</h2>
	Registration with tabsontoronto.ca is mandatory in order to receive Email Notifications (called Alerts). Registration is not necessary to view any content on the site. We collect and subsequently process the information that you voluntarily provide at the time of registration, of which a valid email address is the only mandatory element. <!-- All other information provided, including user name, is optional. -->

	All information we collect will be by fair and lawful means. Every effort is made to maintain the accuracy of your personal information, and at any time you have the right to access or notify tabsontoronto.ca and update your personal information. At any time, if you request, we will remove your personal information from our files.

	<h2>3. E-mail Policy</h2>
	A verification e-mail will be sent to you before your account is finalized to ensure that you are in fact the owner of the e-mail address provided. Your e-mail address will only be used for the following purposes:

	* to verify you are a real unique person, not someone posting a fake account;
	* to contact you if our site administrators have any questions about content you post or about other content relating to your or your interests on the site, which may include verifying the status of your listing(s) or notifying you of changes to the site that may affect your content.

	Your e-mail address will remain private. We will not share your e-mail address with any third parties outside of our network. Further, we will not use your e-mail address to send you unsolicited information or newsletters about tabsontoronto.ca. However, you can choose to be notified of changes to the site, or to be part of consultations which tabsontoronto.ca may conduct from time to time.

	<h2>3. Data Security</h2>
	tabsontoronto.ca is obligated to protect personal information by making reasonable security arrangements against such risks as unauthorized access, collection, use, disclosure or disposal. We will ensure that security safeguards are in place to protect your personal information in a manner appropriate to its sensitivity. We will not share, sell or otherwise distribute your personal information to any third party.

	<h2>4. Data Retention</h2>
	The length of information retention varies in relation to the nature of the service provided. We keep information for the length of time necessary to fulfill the purpose(s) for which it was collected. After that point, data is kept only for statistical purposes and shall not be used for any other reason.

	<h2>5. Archives</h2>
	tabsontoronto.ca maintains an historical archive of past searches, which is maintained on the server to enable users to access information on the history of municipal data access. At any time, if you feel that the archival content contains personal information about you which you wish to have removed, please contact us at info@tabsontoronto.ca, so that the content in question can be reviewed and  removed.

	<h2>6. Links to Other Web Sites</h2>
	tabsontoronto.ca includes links to other sites. Some of these sites offer unique services and may include detailed privacy statements describing how personal information may be used. tabsontoronto.ca is not responsible for the content and privacy practices of external web sites. We encourage users to review the privacy policy for each external site before submitting any personal information.

	<h2>7. Cookies</h2>
	Cookies are small pieces of data that web pages place in computers to assist in returning to that page. info@tabsontoronto.ca uses cookies to keep users logged into their current session and to keep track of user genre preferences, so that we may continually work towards providing useful and relevant content. It is possible to change the settings on a web browser to deny cookies or to warn when cookies will be deposited.

	<h2>8. Changes to Our Privacy Policy</h2>
	tabsontoronto.ca may, from time to time, review and revise its privacy practices and our website privacy policy.

	<h2>9. Question or Concerns</h2>
	tabsontoronto.ca is committed to making you feel comfortable about how we collect and use your personal information. If you have questions or concerns about this Privacy Policy, please contact <a href='mailto:info@tabsontoronto.ca'>info@tabsontoronto.ca</a>

	<h2>10. Further Information</h2>
	For more information relating to the Personal Information Protection and Electronic Documents Act, please refer to the Office of the Privacy Commissioner of Canada website at: <a href='http://www.priv.gc.ca/legislation/02_06_01_e.cfm'>http://www.priv.gc.ca/legislation/02_06_01_e.cfm</a>


</div>

{% endblock %}

